@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using ShowMeApi_SelfHost.Areas.HelpPage.Models
@using System.Linq
@using ShowMeApi_SelfHost.Areas.HelpPage
@using ShowMeApi_SelfHost.Areas.HelpPage.ModelDescriptions
@model Collection<ApiDescription>

    @{
        ViewBag.Title = "ASP.NET Web API Help Page";

        // Group APIs by controller
        ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
    }

    @*<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />*@
    <style>
        

        td {
            border: 1px solid #CCC;
        }
        tr {
            border: 1px solid #CCC;
        }
    </style>
    <header class="help-page">
        <div class="content-wrapper">
            <div class="float-left">
                <h1>@ViewBag.Introduction</h1>
            </div>
        </div>
    </header>
    <div id="body" style="padding-top: 20px">
        <section>
            @foreach (var group in apiGroups)
            {
                var controllerDocumentation = ViewBag.DocumentationProvider != null ?
                    ViewBag.DocumentationProvider.GetDocumentation(group.Key) :
                    null;

                <h2>Controller: @group.Key.ControllerName</h2>
                if (!String.IsNullOrEmpty(controllerDocumentation))
                {
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;@controllerDocumentation</p>
                }
                else
                {
                    <p style="opacity: 0.5">&nbsp;&nbsp;&nbsp;&nbsp;Empty Desc for this controller</p>
                }
                <table width="100%" style="border: 3px solid blue">
                    <thead>
                        <tr><th>API</th><th>Description</th><th>Parameters Description</th></tr>
                    </thead>
                    <tbody>
                        @foreach (var apiDesc in group)
                        {
                            <tr>
                                <td>@apiDesc.HttpMethod.Method @apiDesc.RelativePath</td>
                                <td>
                                    @if (apiDesc.Documentation != null)
                                    {
                                        <p>@apiDesc.Documentation</p>
                                    }
                                    else
                                    {
                                        <p>No documentation available.</p>
                                    }
                                </td>
                                <td>
                                    @if (apiDesc.ParameterDescriptions.Count > 0)
                                    {
                                        <table width="100%" style="border: 1px solid black">
                                            <thead>
                                                <tr><th>Name</th><th>Desc</th><th>Type</th><th>Additional information</th></tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var parameter in apiDesc.ParameterDescriptions)
                                                {
                                                    var httpParameterDescriptor = parameter.ParameterDescriptor;
                                                    <tr>
                                                        <td>@parameter.Name</td>
                                                        <td>
                                                            <p>@parameter.Documentation</p>
                                                        </td>
                                                        <td>
                                                            @*@Html.DisplayFor(m => modelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = modelDescription })*@
                                                            @httpParameterDescriptor.ParameterType
                                                        </td>
                                                        <td>
                                                            @if (true@*||parameter.Annotations.Count > 0*@)
                                                            {
                                                                @*foreach (var annotation in parameter.Annotations)
                                                                    {
                                                                        <p>@annotation.Documentation</p>
                                                                    }*@
                                                            }
                                                            else
                                                            {
                                                                @*<p>None.</p>*@
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <p>No Parameter needed for this API.</p>
                                    }
                                </td>

                            </tr>
                            <tr>
                                @{
                                    ApiDescription description = apiDesc;
                                }
                                @*
                                    <h1>@description.HttpMethod.Method @description.RelativePath</h1>*@
                                <div>
                                    @*<p>@description.Documentation</p>

                                        <h2>Request Information</h2>

                                        <h3>URI Parameters</h3>*@


                                    @{
                                        HelpPageApiModel helpPageApiModel = Html.GetHelpPageApiModel(apiDesc.ID);
                                        if (helpPageApiModel == null)
                                        {
                                            @*<b>You have null HelpPageApiModel for api: @apiDesc.ID</b>*@
                                        }
                                        else
                                        {
                                            <b>You have concrete value of HelpPageApiModel for api: @apiDesc.ID</b>
                                        }
                                    }


                                </div>
                            </tr>
                                        }
                    </tbody>
                </table>
                @*@Html.DisplayFor(m => group, "ApiGroup")*@
                                        @*@group.Key;*@
                                        }
        </section>
    </div>
