@model SharedModel.PosTrx

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PosTransactionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionInitDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionInitDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
